.row {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 350px;
  max-height: 350px;
  overflow: auto;
  padding-right: 30px;
}
